body {
  background-color: lavender;
}

hl {
  color: white;
  text-align: center;
}

img {
  width: 120vh;
  border: dashed orange 3px;
}

img:hover {
  width: 130ox;
  border: solid magenta 3 px;
}

h1{
  font-family: McLaren;
}
nav {
  list-style-type: none;
 background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  
}

li {
  display: inline;
  padding: 15px;
  float: right;
}

li:hover {
  background-color: gold;
}
a {
  text-decoration: none;
  color: black;
}
